@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: gray;

}

.logo-top {
  margin-top: 0.5rem;
}

.logo-img {
  /* filter: invert(21%) sepia(94%) saturate(1334%) hue-rotate(184deg)
    brightness(100%) contrast(102%); */
  filter: invert(99%) sepia(55%) saturate(884%) hue-rotate(302deg) brightness(119%) contrast(94%);
}

.search {
  display: flex;
}

.search form button {
  border-radius: 5%;
  margin-left: 0.5rem;
}





.imgs {
  margin-top: 0.5rem;
  display: flex;
  width: 90%;
}

.galeria {


  display: flex;
  width: 100%;


}

.galeria img {
  position: absolute;
  opacity: 0;
  transition: opacity 3s;
  width: 45%;
  margin-left: 5%;
  margin-top: 15%;

}

.galeria input[type=radio] {
  position: sticky;
  margin-top: 50%;
  margin-left: 5rem;

}

.galeria input[type=radio]:nth-of-type(1):checked~img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked~img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked~img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked~img:nth-of-type(4) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(5):checked~img:nth-of-type(5) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(6):checked~img:nth-of-type(6) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(7):checked~img:nth-of-type(7) {
  opacity: 1;
}

.information {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;


}

.information h2 {
  text-align: center;
}

.information p {
  text-align: justify;
}

.reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.reserve h2 {
  text-align: center;
}

.reserve form {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
}

.nav-footer {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #005596;
  height: 4rem;
  color: #f8f8f2;
}

.nav-footer li {
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.social-media {
  display: flex;
  text-align: center;
  justify-content: center;

}

.social-media span {
  margin-left: 1rem;
}

.social-media span a i {
  color: #005596;

}

.logo-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer div h5 {
  color: #005596;
  text-align: center;
}


@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* SIDEBAR */
/* body {
    font-family: "Lato", sans-serif;
  }
   */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005596;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f8f8f2;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #005596;
  color: #f8f8f2;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #282a36;
  color: #f8f8f2;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* BOTON BUSCAR */
/* styling search bar */
.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

.search button {
  background-color: #005596;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}