@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
}

header {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
}

.openbtn {
  margin: 0.5rem;
  border-radius: 50%;
}
.logo-top {
  margin-top: 1rem;
}
.logo-img {
  /* filter: invert(21%) sepia(94%) saturate(1334%) hue-rotate(184deg)
    brightness(100%) contrast(102%); */
  filter: invert(99%) sepia(55%) saturate(884%) hue-rotate(302deg)
    brightness(119%) contrast(94%);
}
.search {
  display: flex;
}
.search form button {
  border-radius: 50%;
  padding: 0.3rem 0.35rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.base-main {
  /* background-color: firebrick; */
}

.galeria {
  /* background-color: cadetblue; */
}

.galeria .img-principal img {
  width: 100rem;
}

/* TODO CSS TEST OBJECT FIT */
#img-test {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
/* TODO END TEST */

.img-mini {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.img-mini img {
  width: 17rem;
  height: 13rem;
}

.information {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.information h2 {
  text-align: center;
}
.information p {
  text-align: justify;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.booking h2 {
  text-align: center;
}
.booking form {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
}
.nav-footer {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #005596;
  height: 4rem;
  color: #f8f8f2;
}
.nav-footer li {
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.social-media {
  display: flex;
  text-align: center;
  justify-content: center;
}
.social-media span {
  margin-left: 1rem;
}
.social-media span a i {
  color: #005596;
}
.logo-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer div h5 {
  color: #005596;
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* SIDEBAR */
/* body {
    font-family: "Lato", sans-serif;
  }
   */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005596;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #d9d9d9;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #005596;
  background-color: #f8f8f2;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #005596;
  color: #d9d9d9;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #282a36;
  color: #f8f8f2;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* BOTON BUSCAR */
/* styling search bar */
.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

.search button {
  background-color: #005596;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* FIXME MODAL LOGIN BOX */

/*set the Modal background*/
/* FONDO MODAL LOGIN BOX */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 4rem;
}

/*style the model content box*/
.modal-content {
  background-color: #d9d9d9;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  /* min-width: 105%; */
}

/*style the close button*/
.modal-close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #005596;
  font-size: 10rem;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #282a36;
  cursor: pointer;
}

/*set padding to the container*/
/* .modal {
  display: flex;
  padding: 15rem;
} */

.modal-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 3rem; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 3rem;
}

.modal-container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*set border to the form*/
/* OPCIONAL */
/* form {
  border: 3px solid #f1f1f1;
} */
/*assign full width inputs*/
/* TEXT BOX FORMULARIO LOGIN */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*set a style for the buttons*/
/* BOTON MODAL LOGIN */
.sidebar .modal-login {
  background-color: #f8f8f2;
  color: #005596;
  padding: 1rem 2rem;
  margin: 4rem 0rem;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
/* set a hover effect for the button*/
.modal-login {
  /* width: 100%; */
  /* margin: 0rem 1rem; */
  /* color: #005596; */
}

button:hover {
  /*FIXME ALL BUTTONS HOVER*/
  opacity: 0.8;
  text-decoration: underline;
}

/*set extra style for the cancel button*/
/* BOTON CANCELAR LOGIN */
.modal-container-button button {
  /* width: auto; */
  /* margin: 1rem 1rem; */
  /* padding: 10px 18px; */
  background-color: #d9d9d9;
  /* background-color: none; */
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  color: #005596;
  font-weight: bold;
}

/* .modal-container-button button:hover {
  background-color: #005596;
  color: #f8f8f2;
  text-decoration: underline;
} */

.modal-container-button .modal-confirmbtn {
  background-color: #005596;
  color: #f8f8f2;
}
.modal-container-button .modal-cancelbtn:hover {
  /* background-color: #005596; */
  color: #282a36;
}
/*centre the display image inside the container*/

/* FIXME BORRAR después. ya no tiene la imagen */
/* .modal-imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
} */
/*set image properties*/
/* 
img.modal-avatar {
  width: 10%;
  border-radius: 50%;
} */

/* FIXME END */

/*set the forgot password text*/

.modal .modal-psw a {
  display: flex;
  /* float: center; */
  color: #005596;
  /* padding: 3rem; */
  margin: 2rem 30%;
  padding: 1rem;
  justify-content: center;
}

.modal .modal-psw a:hover {
  text-decoration: underline;
}
/*set styles for span and cancel button on small screens*/

/* add zoom animation*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 40rem) {
  span.modal-psw {
    display: block;
    float: none;
  }
  .modal-cancelbtn {
    width: 100%;
  }
}
