@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: gray;
  margin-top: 0;
  padding: 1rem;
}
.logo-img {
  /* filter: invert(21%) sepia(94%) saturate(1334%) hue-rotate(184deg)
    brightness(100%) contrast(102%); */
  filter: invert(99%) sepia(55%) saturate(884%) hue-rotate(302deg)
    brightness(119%) contrast(94%);    
}
.base-main{  
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.slideGaleria {
  display: none;
}
img {
  vertical-align: middle;
}

.imgs{
  background-color: red;
  margin: 1rem;
}

.galeria { 
  width: 40%;
  background-color: yellowgreen;
  display: flex;
  position: relative;
}

.galeria img {
  position: absolute;
  opacity: 0;
  transition: opacity 3s;
 
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 1.5em);
  
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
  opacity: 1;
}
.information{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin-left: 40%;
  
  
}
.information h2{
  background-color: yellow;
  text-align: center;

}
.information p{
  margin: 0rem 3rem;
  text-align: justify;
}

.reserve{
  display: flex;
  flex-direction: column;  
  background-color: yellow;
  justify-content: center;
}
.reserve h2{
  text-align: center;
}
.reserve form{
  justify-content: center;
  margin: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}
.nav-footer{
  list-style: none;
  display: flex;
  justify-content: space-around;
}


@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* SIDEBAR */
/* body {
    font-family: "Lato", sans-serif;
  }
   */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #005596;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f8f8f2;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #005596;
  color: #f8f8f2;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #282a36;
  color: #f8f8f2;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* BOTON BUSCAR */
/* styling search bar */
.search input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

.search button {
  background-color: #005596;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
