
/* Datos de usuario */
.dataUser h2{
  margin-left: 10%;
  margin-top: 0;
  padding-top: 10rem;
}

.inputs_dataUser{
  margin-left:20%;
  padding: 1rem;
}
.inputs_dataUser label{
  width: 12rem;
  display:inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
.inputs_dataUser input{
  height: 2rem;
}

.inputs_dataUser input:nth-of-type(-n+3){
  width: 15rem;
}
.inputs_dataUser input:nth-of-type(+n+5){
  width: 15rem;
}

.btnGuardar{
  background-color: #005596;
  color: #f2f2f2;
  border: none;
  width: 6rem;
  height: 2.5rem;
  margin-left: 33%;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5rem;
  
}

/* Listado de Reservas */
.reserves h2{
  margin-top: 5rem;
  margin-left: 10%;
}

.reservesTable{
  margin-left: 10%;
  border-collapse: separate;
  border: black 1px solid;
  background-color:lightgray;
  padding-bottom: 10rem;
}

.reservesTable th{
  width: 8rem;
  text-align: center;
  border-bottom-style:double;
}
.reservesTable td{
  text-align: center;
}

.reserves h4{
  margin-top: 0;
  text-align: center;
  font-weight: lighter;
}

/*Sección de Comentarios*/
.reviews{
  margin-left: 10%;
  margin-bottom: 10rem;
}
.reviews h2{
  margin-top: 5rem;
}
/* .reviews div{
  display:inline-block;
} */

.reviewsTable{
  border-collapse: separate;
  border: black 1px solid;
  background-color:lightgray;
  /* padding-bottom: 10rem; */
  margin-bottom: 0.4rem;
}

.reviewsTable th{
  width: 8rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom-style:double;
}
.reviewsTable th:nth-child(3){
  width: 30rem;
}
.reviewsTable th:last-child{
  width: 3rem;
  border-bottom-style:none;
}

.reviewsTable td{
  padding-top: 1rem;
  text-align: center;
}
.reviews div:last-child{
  margin-top: 2.5rem;
  margin-left: 9rem;
  vertical-align: top;
}

.btnEditar{
  background-color: #005596;
  color: #f2f2f2;
  border: none;
  width: 12rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.btnEliminar{
  background-color: #005596;
  color: #f2f2f2;
  border: none;
  width: 12rem;
  margin-left: 6rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
}

/* .reviews h4{
  text-align: center;
  font-weight: lighter;
} */

