.star-rating {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: flex-start; */
  float: right;
  height: 46px;
  /* padding: 0 10px; */
  /* flex-direction: row; */
}
.star-rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.star-rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2rem;
  /* color: #ccc; */
}
.star-rating:not(:checked) > label:before {
  content: "★ ";
}
.star-rating > input:checked ~ label {
  color: #ffc700;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
