h2 {
  color: var(--blue);
  /* margin: 5rem 0 1rem 0; */
  padding: 1rem 0 1rem 0;
}

.dataUser {
}
.form {
  /* background-color: #f8f8f299; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin: auto 50% auto auto; */
  padding: 1rem;
}

.form p label {
  /* padding-left: 5rem; */
  font-weight: bold;
  padding: 0.5rem;
}

.form span input {
  /* background-color: mediumpurple; */

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 24rem;
  height: 2.5rem;
  /* width: 100%; */
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: flex;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form p {
  /* padding-right: 5rem; */
  /* background-color: chocolate; */
}
.form p span {
  display: flex;
  justify-content: flex-end;
  width: 35rem;
  gap: 1rem;
  align-items: center;
  /* background-color: firebrick; */
}

.form span i {
  color: var(--blue);
}

.form textarea {
  resize: none;
  width: 24rem;
  height: 8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 12px 20px;
}
