.dataUser {
  /* padding-top: 7rem; */
}

.dataUser input:nth-child(1) {
  margin-left: 30%;
  margin-bottom: 1rem;
  width: 300px;
  height: 35px;
  border-radius: 25px;
}
.dataUser button {
  width: 11rem;
  height: 2rem;
  text-align: center;
  border: none;
  background-color: #005596;
  color: #f2f2f2;
  cursor: pointer;
}

.dataUser h2 {
  margin-left: 20%;
  margin-top: 2rem;
}

.inputs_dataUser {
  margin-left: 30%;
  padding: 1rem;
}

.inputs_dataUser label {
  width: 8rem;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
.inputs_dataUser textarea {
  resize: none;
  width: 40rem;
  height: 8rem;
}

.inputs_dataUser input {
  height: 2rem;
}

.inputs_dataUser input:nth-of-type(-n + 4) {
  width: 20rem;
}
/* .inputs_dataUser input:last-child{
  width: 50rem;
  height: 10rem;
  vertical-align: bottom;
  
} */
/* select{
    height: 2rem;
    width: 15rem;
    text-align: center;
    content: top;
} */

.btnEnviar {
  background-color: #005596;
  color: #f2f2f2;
  border: none;
  width: 6rem;
  height: 2.5rem;
  margin-left: 70%;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6rem;
}
