.base-main {
  background-color: var(--blue);
}

.dataUser {
  background-image: url("../img/img-habitacion/230031199.jpg");
  background-repeat: no-repeat;
  background-color: var(--blue);
  background-size: cover;
}

/* .dataUser .btnEnviar {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  width: 8rem;
  height: 2.5rem;
  margin-left: auto;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1.75rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

.dataUser .btnEnviar:hover {
  background-color: var(--white);
  border: var(--blue) solid 1px;
  color: var(--blue);
} */
