:root {
  --blue: #005596;
  --white: #f8f8f2;
  --grey: #d9d9d9;
  --black1: #282a36;
  --black2: #999;
}

#img-main {
  padding: 0 1.68rem 1.68rem 1.68rem;
  /* max-width: 80%; */
  vertical-align: center;
  width: 100%;
  /* height: 50rem; */
  /* height: 100%; */
  object-fit: contain;
  /* position: relative; */
}

/* ESCONDER IMAGENES POR DEFECTO */
.galeria-img {
  display: none;
}

/* BOTONES ANTERIOR Y SIGUIENTE */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* POSICION BOTON NEXT DERECHA */
.next {
  right: 1.68rem;
  border-radius: 3px 0 0 3px;
}

/* HOVER BOTONES */
.prev:hover,
.next:hover {
  background-color: var(--blue);
}

/* Number text (1/3 etc) */
.img-numero {
  color: var(--white);
  font-size: 0.65rem;
  padding: 0.75rem 1rem;
  position: absolute;
  top: 3rem;
}

/* TODO END TEST */

/* .img-mini {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.img-mini img {
  width: 17rem;
  height: 13rem;
} */

/* TEXTO DESCRIPCIÓN */
.information {
  display: flex;
  flex-direction: column;
  /* margin: 4rem 4rem; */
  margin: 2rem auto;
  column-width: 14em;
  max-width: 50rem;
}
/* TITULO */
.information h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.text {
  /* display: flex;
  margin: 0.75rem; */
  /* background-color: #005596; */

  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1.6fr 0.8fr;
  margin: 0 auto;
  /* column-width: 20rem; */
  column-gap: 2.75rem;
  column-rule: 1px solid #ccc;
  align-items: start;
}
.icon-inf {
  color: var(--blue);
}
.text p {
  /* flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 1rem; */
  text-align: justify;
}
.text blockquote {
  /* column-count: 2; */
  /* font: 1.5em "JetBrains Mono"; */
  font-size: 1.75rem;
  margin: 1rem;
  column-span: all;
  text-align: center;
  color: var(--blue);
}
#text-col2 {
  /* background-color: #005596; */
  /* grid-gap: 1em; */
}

.booking-principal {
  display: flex;
  flex-direction: row;
  background-color: #005596;
  /* margin-top: 4rem; */
}
.booking {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.booking h3 {
  text-align: center;
  color: var(--white);
  margin-bottom: 0.3rem;
  padding: 1rem 0;
}
.booking form {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.booking-left {
  margin-right: 8rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.check-in-out {
  margin-bottom: 1rem;
}
.booking form label {
  color: #f8f8f2;
  margin-right: 1rem;
}
.booking form input {
  text-align: center;
  border-radius: 0.5rem;
  text-align:center;
  border-color: #f8f8f2;
  margin-right: 1rem;
}
.little-input {
  width: 2.5rem;
  height: 1.5rem;
}
.booking-right {
  display: flex;
  flex-direction: column;
}
/* PRECIO */
.booking-right span {
  margin-bottom: 1rem;
  border-color: var(--white);
  color: var(--white);
}

.btn-booking {
  background-color: firebrick;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.4rem 3em;
}

.btn-booking:hover {
  background-color: var(--white);
  color: var(--blue);
  cursor: pointer;
  /* padding: 0rem 3em; */
}

.information .btn-share:hover {
  background-color: firebrick;
  color: var(--white);
}
.information .btn-share {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.4rem 3em;
  width: 100%;
  border-radius: 0.5rem;
  text-decoration: none;
}
/* .btn-share {
  background-color: #005596;
  color: #f8f8f2;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border-color: #f8f8f2;
  margin-top: 1.7rem;
  margin-right: 0.5rem;
} */
