.dataUser {
  background-image: url("../img/img-habitacion/230031199.jpg");
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: var(--blue); */
  background-size: cover;
}
/* .galeria-img {
  padding: 0 1.68rem 1.68rem 1.68rem;
  vertical-align: center;
  width: 100%;
  object-fit: contain;
  position: sticky;
} */
.base-main {
  background-color: var(--blue);
}
.dataUser {
  /* color: firebrick; */
}

/* .dataUser .btnConfirm {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  width: 8rem;
  height: 2.5rem;
  margin-left: auto;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1.75rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

.dataUser .btnConfirm:hover {
  background-color: var(--white);
  border: var(--blue) solid 1px;
  color: var(--blue);
} */
