{% extends "base.html" %} {% block content %}

<!-- MODAL MESSAGE SENDED -->
<div id="modal-id02" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          Gracias por contactarnos. Responderemos pronto su mensaje al correo
          diligenciado
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
          <input type="text" disabled/>

          <label><b>Fecha</b></label>
          <input type="date" class="campo-modal" disabled/>

          <label><b>Comentario</b></label>
          <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30" rows="10"></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button
          type="button"
          class="modal-confirmbtn"
          onclick="document.getElementById('modal-id02').style.display='none'"
        >
          Aceptar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <!-- <div>
            <button type="button" onclick="document.getElementById('modal-id02').style.display='none'"
              class="modal-cancelbtn">
              Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
            </button>
          </div> -->
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
        <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL MESSAGE SENDED -->

<!-- SECCION PRINCIPAL -->
<div id="main">
  <div class="base-main">
    <!-- AREA PRINCIPAL -->
    <section class="dataUser">
      <!-- <input type="text" placeholder="Buscar por cédula" name="searchAdmin" />
        <button>Buscar Administrador</button> -->
      <h2>Contáctanos</h2>
      <!-- search bar right align -->
      <form action="#" class="inputs_dataUser">
        <label for="correo">Correo</label>
        <input type="email" name="correo" id="correo" />
        <br />
        <label for="nombre">Nombre</label>
        <input type="email" name="nombre" id="nombre" />
        <br />
        <label for="apellido">Apellido</label>
        <input type="email" name="apellido" id="apellido" />
        <br />
        <!-- <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" name="fechaNacimiento" id="fechaNacimiento">
          <br> -->
        <label for="asunto">Asunto</label>
        <input type="email" name="asunto" id="asunto" />
        <br />
        <label for="mensaje">Mensaje</label>
        <textarea
          name="mensaje"
          id="mensaje"
          maxlength="630"
          cols="30"
          rows="10"
        ></textarea>
        <!-- <br>
          <label for="estado">Estado</label>
          <select name="estado" id="estado">
            <option value="a">Activo</option>
            <option value="i">Inactivo</option>
          </select> -->
      </form>
      <input
        class="btnEnviar"
        type="submit"
        name="botonEnviar"
        value="Enviar"
        onclick="document.getElementById('modal-id02').style.display='block'"
        data-open="modal-id02"
      />
    </section>
  </div>
</div>
<script>
  function seleccionar(tr, value) {
    this.chk1.click();
  }
</script>

{% endblock %}
