{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gestionUsuarios.css') }}" />
{% endblock %} {% block content %}
<!-- MODAL EDIT REVIEW -->
<div id="modal-id02" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Edición de Comentario</h1>
      </label>
      <label><b>ID del Comentario</b></label>
      <input type="text" disabled />

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled />

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30" rows="10"></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id02').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL EDIT REVIEW -->

<!-- MODAL DELETE REVIEW -->
<div id="modal-id03" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Eliminar Comentario?</h1>
      </label>
      <label><b>ID del Comentario</b></label>
      <input type="text" disabled />

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled />

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30" rows="10" disabled></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id03').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL DELETE REVIEW -->

<!-- MODAL SAVE DATA-USERS -->
<div id="modal-id04" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          ¿Desea guardar las modificaciones realizadas en los datos de usuario?
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
      <input type="text" disabled/>

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled/>

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" 
      maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id04').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL SAVE DATA-USERS -->

<main class="container">
    <!-- SECCION PRINCIPAL -->
    <div id="main">
      <div class="base-main">
        <!-- AREA PRINCIPAL -->
        <section class="dataUser">
          <h2>Editar Usuario-Cliente</h2>
          <!-- <button class="btnAgregarAdmin" id="btnAgregarAdmin">Agregar Administrador</button> -->
          <div class="" id="">
            <!-- <h4>Editar Administrador</h4> -->
  
            <form action="/editarUser/{{ usuario[0] }}" class="inputs_dataUser" method="post">
              <label for="cedula">Cédula</label>
              <input type="text" class="input_user" name="Cedula" id="cedula" value="{{ usuario[1] }}" >
  
              <label for="nombre">Nombre</label>
              <input type="text" class="input_user" name="Nombre" id="nombre" value="{{ usuario[2] }}" >
  
              <label for="apellido">Apellido</label>
              <input type="text" class="input_user" name="Apellidos" id="apellido" value="{{ usuario[3] }}" >
  
              <label for="fechaNacimiento">Fecha de Nacimiento</label>
              <input type="date" class="input_user" name="Fecha_Nacimiento" id="fechaNacimiento" value={{ usuario[4] }}>
  
              <label for="correo">Correo Electrónico</label>
              <input type="email" class="input_user" name="Correo" id="correo" value={{ usuario[5] }} >
  
              <label for="celular">Celular</label>
              <input type="phone" class="input_user" name="Celular" id="celular" value={{ usuario[6] }} >
              
              <label for="tipoUsuario">Tipo de Usuario</label>
              <input type="text" class="input_user" name="Tipo_Usuario" id="tipoUsuario" value={{ usuario[7] }} readonly/>
              
              <!-- <label for="anteriorContrasena">Anterior Contraseña</label>
              <input type="password" class="input_user" name="Anterior_Contrasena" id="anteriorContrasena" placeholder="Anterior Contraseña" /> -->
              
              <label for="nuevaContrasena">Nueva Contraseña</label>
              <input type="password" class="input_user" name="Nueva_Contrasena" id="nuevaContrasena" value={{ usuario[8] }} />
              
              <!-- <label for="confirmarContrasena">Contraseña</label>
              <input type="password" class="input_user" name="Confirmar_Contrasena" id="confirmarContrasena" placeholder="Confirmar Contraseña" /> -->
              
              <div>
                <input type="submit" name="gestion_usuario" value="Editar Usuario">
                <input type="submit" name="gestion_usuario" value="Eliminar Usuario">
                <input type="submit" name="gestion_usuario" id="cancel_user" value="Cancelar">
              </div>
            </form>
  
          </div>
  
         </section>
      </div>
    </div>
  </main>

{% endblock %}