{% extends "base.html" %} {% block head %}
<!-- <link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/gestionAdministradores.css') }}"
/> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-forms.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-tables.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-buttons.css') }}" />
{% endblock %} {% block content %}

<!-- MODAL SAVE DATA-ADMIN -->
<div id="modal-id04" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          ¿Desea guardar las modificaciones realizadas en los datos del
          administrador?
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
      <input type="text" disabled/>

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled/>

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" 
      maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id04').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL SAVE DATA-ADMIN -->
<!-- AREA PRINCIPAL -->
<section class="dataUser">
  <h2>Gestión de Administradores</h2>
  <button class="btn-submit btn-submit-blue btnAgregarAdmin" id="btnAgregarAdmin">
    Agregar Administrador
  </button>
  <section class="form_dataUser" id="form_dataUser" display="none">
    <form action="/addAdmin" class="form inputs_dataUser" method="POST">
      <h2>Crear Nuevo Administrador</h2>
      <p>
        <label for="cedula">Cédula</label>
        <span>
          <input type="text" class="input_user" name="Cedula" id="cedula" placeholder="Cédula" />
        </span>
      </p>
      <p>
        <label for="nombre">Nombre</label>
        <span>
          <input type="text" class="input_user" name="Nombre" id="nombre" placeholder="Nombre" />
        </span>
      </p>
      <p>
        <label for="apellido">Apellido</label>
        <span>
          <input type="text" class="input_user" name="Apellidos" id="apellido" placeholder="Apellido" />
        </span>
      </p>
      <p>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <span>
          <input type="date" class="input_user" name="Fecha_Nacimiento" id="fechaNacimiento" />
        </span>
      </p>
      <p>
        <label for="correo">Correo Electrónico</label>
        <span>
          <input type="email" class="input_user" name="Correo" id="correo" placeholder="Correo" />
        </span>
      </p>
      <p>
        <label for="celular">Celular</label>
        <span>
          <input type="phone" class="input_user" name="Celular" id="celular" placeholder="Celular" />
        </span>
      </p>
      <p>
        <label for="tipoUsuario">Tipo de Usuario</label>
        <span>
          <input type="text" class="input_user" name="Tipo_Usuario" id="tipoUsuario" value="2" readonly />
        </span>
      </p>
      <p>
        <label for="anteriorContrasena">Contraseña</label>
        <span>
          <input type="password" class="input_user" name="Anterior_Contrasena" id="anteriorContrasena" placeholder="Contraseña" />
        </span>
      </p>
      <p>
        <label for="nuevaContrasena">Repetir Contraseña</label>
        <span>
          <input type="password" class="input_user" name="Nueva_Contrasena" id="nuevaContrasena"
            placeholder="Repetir Contraseña" />
        </span>
      </p>

      <!-- <label for="confirmarContrasena">Contraseña</label>
            <input type="password" class="input_user" name="Confirmar_Contrasena" id="confirmarContrasena" placeholder="Confirmar Contraseña" /> -->

      <div class="btn-submit-group">
        <input class="btn-submit btn-submit-blue" type="submit" name="gestion_admin" value="Crear Admin" />
        <input class="btn-submit btn-submit-gray" type="submit" name="gestion_admin" id="cancel_user"
          value="Cancelar Admin" />
      </div>
    </form>
  </section>
  <section id="table_admins">
    <table class="tables table_admins">
      <h2>Lista de Administradores</h2>
      <thead>
        <tr>
          <th>Id</th>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Celular</th>
          <th>Gestionar</th>
          <!-- <th>
                  All<input type="checkbox" name="check[]" value="0" id="chk0" />
                </th> -->
        </tr>
      </thead>
      <tbody>
        {% for i in range(usuarios|length) %}

        <tr>
          <!-- <tbody style="cursor: pointer">
              <tr onclick="seleccionar(this,1)"> -->
          <td>{{ usuarios[i][0] }}</td>
          <td>{{ usuarios[i][1] }}</td>
          <td>{{ usuarios[i][2] }}</td>
          <td>{{ usuarios[i][3] }}</td>
          <td>{{ usuarios[i][6] }}</td>
          <td>
            <a href="/editarAdmin/{{usuarios[i][0]}}" class="btn-submit btn-submit-blue btnEditar"
              id="btnEditarAdmin">Gestionar</a>
            <!-- <a href="/eliminarAdmin/{{usuarios[i][0]}}" class="btnEliminar">Eliminar</a> -->
          </td>
          <!-- <td onclick="seleccionar(this,1)">
                  <input type="checkbox" name="check[]" value="1" id="chk1" />
                </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <!-- <input class="btnGuardar" type="submit" name="botonGuardar" value="Guardar"
          onclick="document.getElementById('modal-id04').style.display='block'" data-open="modal-id04" /> -->
</section>

<script>
  // function seleccionar(tr, value) {
  //   this.chk1.click();
  // }
</script>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/agregarAdmin.js' ) }}"></script>
{% endblock %}