{% extends "base.html" %} {% block content %}

<!-- MODAL SAVE DATA-ADMIN -->
<div id="modal-id04" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          ¿Desea guardar las modificaciones realizadas en los datos del
          administrador?
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
      <input type="text" disabled/>

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled/>

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" 
      maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id04').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL SAVE DATA-ADMIN -->

<!-- SECCION PRINCIPAL -->
<div id="main">
  <div class="base-main">
    <!-- AREA PRINCIPAL -->
    <input
      class="buscador"
      type="email"
      placeholder="Buscar por cédula"
      name="searchUser"
    />
    <button class="btnBuscar">Buscar Administrador</button>
    <section class="dataUser">
      <h2>Datos del Administrador</h2>
      <!-- search bar right align -->
      <form action="#" class="inputs_dataUser">
        <label for="cedula">Cédula</label>
        <input type="email" name="cedula" id="cedula" />
        <br />
        <label for="nombre">Nombre</label>
        <input type="email" name="nombre" id="nombre" />
        <br />
        <label for="apellido">Apellido</label>
        <input type="email" name="apellido" id="apellido" />
        <br />
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" />
        <br />
        <label for="correo">Correo Electrónico</label>
        <input type="email" name="correo" id="correo" />
        <br />
        <label for="celular">Celular</label>
        <input type="phone" name="celular" id="celular" />
        <br />
        <label for="estado">Estado</label>
        <select name="estado" id="estado">
          <option value="a">Activo</option>
          <option value="i">Inactivo</option>
        </select>
      </form>
      <input
        class="btnGuardar"
        type="submit"
        name="botonGuardar"
        value="Guardar"
        onclick="document.getElementById('modal-id04').style.display='block'"
        data-open="modal-id04"
      />
    </section>
  </div>
</div>
<script>
  function seleccionar(tr, value) {
    this.chk1.click();
  }
</script>

{% endblock %}
