{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/homeAdmin.css') }}"
/>
{% endblock %} {% block content %}
<!-- MODAL DESCRIPTION AND VALUE EDITION -->

<div id="modal-id02" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Edición de Descripción y Valor de las Habitaciones</h1>
      </label>
      <label><b>Valor de las Habitaciones</b></label>
      <input type="number" class="campo-modal" min="1" />

      <!-- <label><b>Fecha</b></label>
          <input type="date" class="campo-modal" disabled /> -->

      <label><b>Descripción</b></label>
      <textarea
        class="campo-modal"
        placeholder="Comentario"
        maxlength="630"
        cols="30"
        rows="10"
      ></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id02').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL DESCRIPTION AND VALUE EDITION -->

<!-- MODAL DELETE REVIEW -->
<div id="modal-id03" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Eliminar Comentario?</h1>
      </label>
      <label><b>ID del Comentario</b></label>
      <input type="text" disabled />

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled />

      <label><b>Comentario</b></label>
      <textarea
        class="campo-modal"
        placeholder="Comentario"
        maxlength="630"
        cols="30"
        rows="10"
        disabled
      ></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id03').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL DELETE REVIEW -->

<!-- MODAL SAVE DATA-ROOMS -->
<div id="modal-id04" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          ¿Desea guardar las modificaciones realizadas en los datos de las
          habitaciones?
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
      <input type="text" disabled/>

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled/>

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" 
      maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id04').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL SAVE DATA-ROOMS -->

<!-- MODAL ADDING ROOM -->
<div id="modal-id05" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>¿Cuántas habitaciones nuevas de tipo Estándar se van a crear?</h1>
      </label>
      <label><b>Valor de las Habitaciones</b></label>
      <input type="number" class="campo-modal" min="1" />

      <!-- <label><b>Fecha</b></label>
          <input type="date" class="campo-modal" disabled /> -->

      <!-- <label><b>Descripción</b></label>
          <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30"
            rows="10"></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id05').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- ADDING ROOM -->

<!-- MODAL DELETE ROOMS -->
<div id="modal-id06" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>¿Desea eliminar las habitaciones seleccionadas?</h2>
        <h5>Una vez confirme no se podrán rehacer los cambios.</h5>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
      <input type="text" disabled/>

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled/>

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" 
      maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img
            src="img/svg/fa/check-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
      <div>
        <button
          type="button"
          onclick="document.getElementById('modal-id06').style.display='none'"
          class="modal-cancelbtn"
        >
          Cancelar<img
            src="img/svg/fa/xmark-solid.svg"
            alt="icono logout"
            height="30"
          />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
    <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL DELETE ROOMS -->
<main class="container">
  <!-- SECCION PRINCIPAL -->
  <div id="main">
    <div class="base-main">
      <!-- AREA PRINCIPAL -->
      <section class="dataUser">
        <h2>Gestión Administradores</h2>
        <!-- LISTA HABITACIONES -->
        <input
          class="buscador"
          type="email"
          placeholder="Buscar por ID"
          name="searchRoom"
        />
        <button class="btnBuscar">Buscar Habitación</button>
        <br />
        <button
          class="btnDescripcion"
          onclick="document.getElementById('modal-id02').style.display='block'"
          data-open="modal-id02"
        >
          Editar Descripción y Valor
        </button>
        <h2>Habitaciones</h2>
        <!-- <input class="btnEditar" type="submit" name="botonEditar" value="Editar Descripción y Valor" /> -->
        <div class="rooms">
          <div>
            <table class="roomsTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Estado</th>
                  <th>Ult.Ocup.</th>
                  <th>Tipo</th>
                  <th>$(USD)</th>
                  <th>
                    All<input
                      type="checkbox"
                      name="check[]"
                      value="0"
                      id="chk0"
                    />
                  </th>
                </tr>
              </thead>
              <tbody style="cursor: pointer">
                <tr onclick="seleccionar(this,1)">
                  <td>HE-1</td>
                  <td>Desocupada</td>
                  <td>24/07/2022</td>
                  <td>Estándar</td>
                  <td>$400</td>
                  <td onclick="seleccionar(this,1)">
                    <input type="checkbox" name="check[]" value="1" id="chk1" />
                  </td>
                </tr>
                <tr onclick="seleccionar(this,2)">
                  <td>HE-2</td>
                  <td>Desocupada</td>
                  <td>02/07/2022</td>
                  <td>Estándar</td>
                  <td>$400</td>
                  <td onclick="seleccionar(this,2)">
                    <input type="checkbox" name="check[]" value="2" id="chk2" />
                  </td>
                </tr>
                <tr onclick="seleccionar(this,3)">
                  <td>HE-3</td>
                  <td>Desocupada</td>
                  <td>25/07/2022</td>
                  <td>Estándar</td>
                  <td>$400</td>
                  <td onclick="seleccionar(this,3)">
                    <input type="checkbox" name="check[]" value="3" id="chk3" />
                  </td>
                </tr>
                <tr onclick="seleccionar(this,4)">
                  <td>HE-4</td>
                  <td>Desocupada</td>
                  <td>18/07/2022</td>
                  <td>Estándar</td>
                  <td>$400</td>
                  <td onclick="seleccionar(this,4)">
                    <input type="checkbox" name="check[]" value="4" id="chk4" />
                  </td>
                </tr>
                <tr onclick="seleccionar(this,5)">
                  <td>HE-5</td>
                  <td>Desocupada</td>
                  <td>29/06/2022</td>
                  <td>Estándar</td>
                  <td>$400</td>
                  <td onclick="seleccionar(this,5)">
                    <input type="checkbox" name="check[]" value="5" id="chk5" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <input
              class="btnEditar"
              type="submit"
              name="botonEditar"
              value="Agregar Habitación"
              onclick="document.getElementById('modal-id05').style.display='block'"
              data-open="modal-id05"
            />
            <br />
            <select name="estado" id="estado">
              <option value="d">Desocupada</option>
              <option value="o">Ocupada</option>
              <option value="m">Mantenimiento</option>
              <option value="i">Inactiva</option>
            </select>
            <h4
              onclick="document.getElementById('modal-id06').style.display='block'"
              data-open="modal-id06"
            >
              <strong><a href="#">Eliminar Habitación</a></strong>
            </h4>
            <input
              class="btnEditar"
              type="submit"
              name="botonEditar"
              value="Guardar Cambios"
              onclick="document.getElementById('modal-id04').style.display='block'"
              data-open="modal-id04"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
<script>
  function seleccionar(tr, value) {
    this.chk1.click();
  }
</script>

{% endblock %}
