{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %} {% block content %}
<section>
  <!-- CONTENEDOR DE GALERIA -->
  <div id="img-main" class="galeria">
    <!-- IMAGENES CON NUMERACION -->
    <div class="galeria-img">
      <div class="img-numero">1 / 7</div>
      <img src="{{ url_for('static',
              filename='img/img-habitacion/230031199.jpg') }}" alt="Galeria CSS 1" style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">2 / 7</div>
      <img src="{{ url_for('static', filename='img/img-habitacion/230031947.jpg') }}" alt="Galeria CSS 2"
        style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">3 / 7</div>
      <img src="{{ url_for('static', filename='img/img-habitacion/233120309.jpg') }}" alt="Galeria CSS 3"
        style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">4 / 7</div>
      <img src="{{ url_for('static', filename='img/img-habitacion/230032549.jpg') }}" alt="Galeria CSS 4"
        style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">5 / 7</div>
      <img src="{{ url_for('static', filename='img/img-habitacion/230049217.jpg') }}" alt="Galeria CSS 5"
        style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">6 / 7</div>
      <img src="{{ url_for('static', filename='img/img-habitacion/230203324.jpg') }}" alt="Galeria CSS 6"
        style="width: 100%" />
    </div>
    <div class="galeria-img">
      <div class="img-numero">7 / 7</div>
      <img src="{{ url_for('static',
              filename='img/img-habitacion/230203934.jpg') }}" alt="Galeria CSS 7" style="width: 100%" />
    </div>
    <!-- BOTONES DE SIGUIENTE Y ANTERIOR -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</section>
<section>
  <!-- INPUT RESERVAS -->
  <div class="booking-principal">
    <div class="booking">
      <!-- <h3>Reservar</h3> -->
      <!-- FIXME no funciona bien llamando action ya que no lee el POST <form action="{{ url_for('booking') }}" method="POST"> -->
      <form action="/booking/" method="POST">
        <div class="booking-left">
          <div class="check-in-out">
            <label for="check-in">Check-In:</label>
            <input type="date" id="check-in" name="check-in" />
            <label for="check-out">Check-Out:</label>
            <input type="date" id="check-out" name="check-out" />
            <!-- Huespedes -->
          </div>
          <div class="select-hab">
            <label for="huespedes">Huespedes:</label>
            <input class="little-input" name="huespedes" type="number" id="huespedes" value="1" min="1" max="30" />
            <!-- Habitaciones -->
            <label for="habitaciones">Habitaciones:</label>
            <input class="little-input" name="habitaciones" type="number" id="habitaciones" value="1" min="1"
              max="30" />
          </div>
        </div>
        <div class="booking-right">
          <span>$450.000,00 COP/noche</span>
          <!-- Boton Reservar -->
          <input class="btn-booking" type="submit" name="botonReservar" value="Reservar" />
        </div>
      </form>
      <!--Boton Compartir-->
    </div>
  </div>
</section>
<section>
  <!-- CONTENIDO DESCRIPCIÓN -->
  <div class="information">
    <div class="text">
      <div id="text-col1">
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf594;</i>
          El Rose Rayhaan by Rotana está situado en la carretera Sheikh Zayed, a
          3 minutos del Centro Financiero Internacional de Dubái (DIFC) y a un
          paso de la estación de metro Financial Centre. También se proporciona
          recepción 24 horas, servicio de habitaciones y WiFi gratuita en todo
          el establecimiento, entre otras comodidades. El establecimiento
          alberga piscina al aire libre, centro de fitness, hammam y
          restaurante.
        </p>
        <br />
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf236;</i>
          El hotel ofrece 462 habitaciones y suites con vistas panorámicas a
          Dubái y al Burj Khalifa. Los alojamientos disponen de hervidor de
          agua. Todas las habitaciones del Rose Rayhaan Rotana Dubai están
          equipadas con baño privado con bañera.
        </p>
        <br />
        <blockquote>
          <p>
            <em>"La mejor experiencia para la familia" </em>
            • &#9733;&#9733;&#9733;&#9733;&#9733;
          </p>
          <p>• Bradley Cooper</p>
        </blockquote>
        <br />
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf2e7;</i>
          El Rose Rayhaan by Rotana alberga 3 sitios para comer, entre ellos el
          restaurante Petals. Tiene capacidad para 160 personas y ofrece comida
          durante todo el día para el desayuno, el almuerzo y la cena.
        </p>
        <br />
      </div>
      <div id="text-col2">
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf0c0;</i>
          La zona de conferencias, ubicada en 2 plantas, cuenta con 7 salas de
          reuniones, todas equipadas con las últimas instalaciones
          audiovisuales, conexiones sin cable y opciones.
        </p>
        <br />
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf5c4;</i>
          La zona de ocio del hotel, el Bodylines Fitness and Wellness Club,
          ofrece un gimnasio totalmente equipado, piscina exterior climatizada
          para adultos y niños en la azotea, salón de belleza, salas de
          tratamiento para masajes y cuidado de la piel, sauna, sala de vapor y
          bañera de hidromasaje.
        </p>
        <br />
        <p>
          <i style="font-size: 24px" class="fa icon-inf">&#xf041;</i>
          El hotel está cerca del centro comercial Dubai Mall y a 15 minutos en
          coche del aeropuerto internacional de Dubái.
        </p>
        <br />
        <button class="btn-share">
          Compartir <i class="fa-solid fa-share-nodes"></i>
        </button>
      </div>
    </div>
  </div>
</section>

{% endblock %}