{% extends "base.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-tables.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-forms.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-buttons.css') }}" />
<!-- <link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/users.css') }}"
/> -->
{% endblock %} {% block content %}
<!-- MODAL EDIT REVIEW -->
<div id="modal-id02" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Edición de Comentario</h1>
      </label>
      <label><b>ID del Comentario</b></label>
      <input type="text" disabled />

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled />

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30" rows="10"></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id02').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
        <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL EDIT REVIEW -->

<!-- MODAL DELETE REVIEW -->
<div id="modal-id03" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h1>Eliminar Comentario?</h1>
      </label>
      <label><b>ID del Comentario</b></label>
      <input type="text" disabled />

      <label><b>Fecha</b></label>
      <input type="date" class="campo-modal" disabled />

      <label><b>Comentario</b></label>
      <textarea class="campo-modal" placeholder="Comentario" maxlength="630" cols="30" rows="10" disabled></textarea>
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id03').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
        <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL DELETE REVIEW -->

<!-- MODAL SAVE DATA-USERS -->
<div id="modal-id04" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="modal-container">
      <label>
        <h2>
          ¿Desea guardar las modificaciones realizadas en los datos de usuario?
        </h2>
      </label>
      <!-- <label><b>ID del Comentario</b></label>
          <input type="text" disabled/>

          <label><b>Fecha</b></label>
          <input type="date" class="campo-modal" disabled/>

          <label><b>Comentario</b></label>
          <textarea class="campo-modal" placeholder="Comentario" 
          maxlength="630" cols="30" rows="10" disabled></textarea> -->
      <!-- <input type="text" placeholder="Comentario" /> -->

      <!-- <input type="checkbox" checked="checked" /> Recordarme -->
    </div>

    <div class="modal-container-button">
      <div>
        <button type="submit" class="modal-confirmbtn">
          Confirmar
          <img src="img/svg/fa/check-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
      <div>
        <button type="button" onclick="document.getElementById('modal-id04').style.display='none'"
          class="modal-cancelbtn">
          Cancelar<img src="img/svg/fa/xmark-solid.svg" alt="icono logout" height="30" />
        </button>
      </div>
    </div>
    <!-- <span class="modal-psw"><a href="#">¿Ha olvidado su Contraseña?</a></span>
        <span class="modal-psw"><a href="#">¿Eres Nuevo Usuario?</a></span> -->
  </form>
</div>
<!-- END MODAL SAVE DATA-USERS -->

<!-- SECCION PRINCIPAL -->
<!-- AREA PRINCIPAL -->
<section class="dataUser">
  <section class="userEdit">
    <h2>Datos de Usuario</h2>
    <form action="#" class="form" method="post">
      <p>
        <label for="cedula">Cédula</label>
        <span>
          <i class="fa-solid fa-id-card"></i>
          <input type="text" class="input_user" name="Cedula" id="cedula" value="{{ usuario[1] }}" />
        </span>
      </p>
      <p>
        <label for="nombre">Nombre</label>
        <span>
          <i class="fa-solid fa-person"></i>
          <input type="text" class="input_user" name="Nombre" id="nombre" value="{{ usuario[2] }}" />
        </span>
      </p>
      <p>
        <label for="apellido">Apellido</label>
        <span>
          <i class="fa-solid fa-person"></i>
          <input type="text" class="input_user" name="Apellidos" id="apellido" value="{{ usuario[3] }}" />
        </span>
      </p>
      <p>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <span>
          <i class="fa-solid fa-cake-candles"></i>
          <input type="date" class="input_user" name="Fecha_Nacimiento" id="fechaNacimiento" value="{{ usuario[4] }}" />
        </span>
      </p>
      <p>
        <label for="correo">Correo Electrónico</label>
        <span>
          <i class="fa-solid fa-envelope"></i>
          <input type="email" class="input_user" name="Correo" id="correo" value="{{ usuario[5] }}" />
        </span>
      </p>
      <p>
        <label for="celular">Celular</label>
        <span>
          <i class="fa-solid fa-mobile-screen-button"></i>
          <input type="phone" class="input_user" name="Celular" id="celular" value="{{ usuario[6] }}" />
        </span>
      </p>
      <p>
        <label for="tipoUsuario">Tipo de Usuario</label>
        <span>
          <i class="fa-solid fa-ranking-star"></i>
          <input type="text" class="input_user" name="Tipo_Usuario" id="tipoUsuario" value="{{ usuario[7] }}"
            readonly />
        </span>
      </p>
      <p>
        <label for="anteriorContrasena">Anterior Contraseña</label>
        <span>
          <input type="password" class="input_user" name="Anterior_Contrasena" id="anteriorContrasena"
            placeholder="Anterior Contraseña" />
        </span>
      </p>
      <p>
        <label for="nuevaContrasena">Nueva Contraseña</label>
        <span>
          <input type="password" class="input_user" name="Nueva_Contrasena" id="nuevaContrasena"
            placeholder="Nueva Contraseña" />
        </span>
      </p>
      <p>
        <label for="repetirContrasena">Repetir Contraseña</label>
        <span>
          <input type="password" class="input_user" name="Repetir_Contrasena" id="repetirContrasena"
            placeholder="Repetir Contraseña" />
        </span>
      </p>
      <p>
        <input class="btn-submit btn-submit-blue btnGuardar" type="submit" name="botonGuardar" value="Guardar"
          onclick="document.getElementById('modal-id04').style.display='block'" data-open="modal-id04" />
      </p>
    </form>
  </section>
  <!-- LISTA RESERVAS -->
  <section class="bookings">
    <h2>Listado de Reservas</h2>
    <table class="tables tables_bookings">
      <thead>
        <tr>
          <th>Id</th>
          <th>Id Usuario</th>
          <th>Check-in</th>
          <th>Check-out</th>
          <th>Ver/Eliminar</th>
          <th>Evaluar</th>
          <!-- <th>
              All<input type="checkbox" name="check[]" value="0" id="chk0" />
            </th> -->
        </tr>
      </thead>
      <tbody>
        {% for i in range(reservas|length) %}

        <tr>
          <!-- <tbody style="cursor: pointer">
          <tr onclick="seleccionar(this,1)"> -->
          <td>{{ reservas[i][0] }}</td>
          <td>{{ reservas[i][1] }}</td>
          <td>{{ reservas[i][2] }}</td>
          <td>{{ reservas[i][3] }}</td>
          <td>
            <!-- <a href="/editarReview/{{reservas[i][0]}}" class="btnEditar" id="btnEditarComentario">Editar</a> -->
            <a href="/eliminarReserveAdmin/{{reservas[i][0]}}"
              class="btnEliminar btn-submit btn-submit-red">Eliminar</a>
          </td>
          <td>
            <!-- <a href="/editarReview/{{reservas[i][0]}}" class="btnEditar" id="btnEditarComentario">Editar</a> -->
            <a href="/realizarComentario/"
              class="btnEliminar btn-submit btn-submit-blue">Evaluar</a>
          </td>
          <!-- <td onclick="seleccionar(this,1)">
              <input type="checkbox" name="check[]" value="1" id="chk1" />
            </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <section>
      <input class="btnEditar" type="submit" name="botonEditar" value="Editar Reserva" />
      <h4>
        <strong><a href="#">Borrar Reserva</a></strong>
      </h4>
    </section> -->
  </section>


  <!-- LISTA COMENTARIOS -->
  <section class="reviews">
    <h2>Comentarios Realizados</h2>
    <div>
      <table class="tables table_reviews" id="table_reviews">
        <thead>
          <tr>
            <th>Id</th>
            <th>Id Usuario</th>
            <th>Fecha</th>
            <th>Comentario</th>
            <th>Eliminar</th>
            <!-- <th>
                  All<input type="checkbox" name="check[]" value="0" id="chk0" />
                </th> -->
          </tr>
        </thead>
        <tbody>
          {% for i in range(comentarios|length) %}

          <tr>
            <!-- <tbody style="cursor: pointer">
              <tr onclick="seleccionar(this,1)"> -->
            <td>{{ comentarios[i][0] }}</td>
            <td>{{ comentarios[i][1] }}</td>
            <td>{{ comentarios[i][2] }}</td>
            <td>{{ comentarios[i][3] }} <strong> Calificación: {{ comentarios[i][4] }}</strong></td>
            
            <td>
              <!-- <a href="/editarReview/{{comentarios[i][0]}}" class="btnEditar" id="btnEditarComentario">Editar</a> -->
              <a href="/editarReview/{{comentarios[i][0]}}" class="btn-submit btn-submit-blue">Editar</a>
            </td>
            <!-- <td onclick="seleccionar(this,1)">
                  <input type="checkbox" name="check[]" value="1" id="chk1" />
                </td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</section>
<script>
</script>

{% endblock %}